
*.jpg
mnist-master/data/MNIST/raw/t10k-images-idx3-ubyte
mnist-master/data/MNIST/raw/t10k-images-idx3-ubyte.gz
mnist-master/data/MNIST/raw/t10k-labels-idx1-ubyte
mnist-master/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
mnist-master/data/MNIST/raw/train-images-idx3-ubyte
mnist-master/data/MNIST/raw/train-images-idx3-ubyte.gz
mnist-master/data/MNIST/raw/train-labels-idx1-ubyte
mnist-master/data/MNIST/raw/train-labels-idx1-ubyte.gz
classify-leaves-master/data/train.csv
classify-leaves-master/data/test.csv
classify-leaves-master/data/sample_submission.csv
*.png
data/cifar10/sampleSubmission.csv
data/cifar10/trainLabels.csv
data/Leaves/sample_submission.csv
data/Leaves/test.csv
data/Leaves/train.csv
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
